/*   ESTILO GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(135deg, #1a73e8, #4dabf7);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* CONTAINER PRINCIPAL*/
.box {
  background: #fff;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  width: 300px;
}

.box a {
  display: block;
  background: #1a73e8;
  color: #fff;
  padding: 0.8rem;
  border-radius: 8px;
  font-weight: 500;
  transition: 0.3s;
}

.box a:hover {
  background: #0b5ed7;
  transform: scale(1.03);
}

/* RESPONSIVIDADE */
@media (max-width: 600px) {
  body {
    padding: 1rem;
  }
  .box {
    width: 100%;
    padding: 1.5rem;
  }
}
