/*  ESTILO GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f2f4f8;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: #1a73e8;
  font-weight: 500;
  transition: 0.3s;
}

a:hover {
  color: #0b5ed7;
}

button, .submit-btn, input[type="submit"] {
  cursor: pointer;
}

.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #1a73e8;
  font-weight: bold;
}

/*  BOX DA HOME  */
.box {
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}

.box a {
  background: #1a73e8;
  color: #fff;
  padding: 0.7rem;
  border-radius: 8px;
}

.box a:hover {
  background: #0b5ed7;
}

/*  ALERTAS  */
.alert-error {
  background: #ffdddd;
  color: #b30000;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 15px;
  border: 1px solid #ffb3b3;
}

/*  RESPONSIVIDADE*/
@media (max-width: 600px) {
  .box {
    width: 90%;
  }
}
